<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>hacks-3rd-place-crew</title>

 <!--BOOTSTRAP/CSS-->
 <link href="https://bootswatch.com/paper/bootstrap.min.css" rel="stylesheet">
 <link href="/css/style.css" rel="stylesheet">
</head>

<body>
<header id="titlePage">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
    <h1>
     Results
    </h1>
   </div>
  </div>
 </div>
</header>

<section id="navigation">
 <div class="container">
  <div class="row">
   <h5>
    <a href="/" ><span class="glyphicon glyphicon-menu-left"></span> Back </a>
   </h5>
  </div>
 </div>
</section>

<section id="main">
 <div class="container">
  <div class="row">
   <h4 id="header">
    <p>
    Time: <span id="time"></span><br />
    </p>
    <p>
    Cost: <span id="cost"></span><br />
    </p>
   </h4>
  </div>
 </div>
</section>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    var res = <%= result %>;
    if(typeof res != 'undefined') {
        document.getElementById("time").innerHTML=res.time;
        document.getElementById("cost").innerHTML=res.cost;
    } else {
        document.getElementById("header").innerHTML="Error: No results yet.";
    }
</script>

</body>
</html>
