<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>hacks-3rd-place-crew</title>

 <!--BOOTSTRAP/CSS-->
 <link href="https://bootswatch.com/paper/bootstrap.min.css" rel="stylesheet">
 <link href="/css/style.css" rel="stylesheet">
</head>

<body>
<header id="titlePage">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
    <h1>
     Results
    </h1>
   </div>
  </div>
 </div>
</header>

<section id="navigation">
 <div class="container">
  <div class="row">
   <h5>
    <a href="/" ><span class="glyphicon glyphicon-menu-left"></span> Back </a>
   </h5>
  </div>
 </div>
</section>

<section id="main">
 <div class="container">
  <div class="row">
   <h4 id="header">
    <p>
    Cost on 1 CPU:  <span id="costSingle"></span><br />
    Cost on 8 CPUs: <span id="gusCostEight"></span><br />
    Cost on 36 CPUs:<span id="gusCostTSix"></span><br />
    Cost on 64 CPUs:<span id="gusCostFull"></span><br />
    <span id="dict"></span><br />
    </p>
   </h4>
  </div>
 </div>
</section>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    var res = <%= result %>;
    if(typeof res != 'undefined') {
        document.getElementById("costSingle").innerHTML="$" + res.costSingle;
        document.getElementById("gusCostEight").innerHTML="$" + res.gusCostEight;
        document.getElementById("gusCostTSix").innerHTML="$" + res.gusCostTSix;
        document.getElementById("gusCostFull").innerHTML="$" + res.gusCostFull;
        
        if(res.dictResult == 1) {
            document.getElementById("dict").innerHTML="Found dictionary result";
        } else {
            document.getElementById("dict").innerHTML="Did not find dictionary result";
        }
            
    } else {
        document.getElementById("header").innerHTML="Error: No results yet.";
    }
</script>

</body>
</html>
