body {
    background-image: url("../images/terminal.png");
    background-size: cover;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

#titlePage h1 {
    text-align: center;
    color: #36DD83;
}

#titlePage small {
    color: #36DD83;
}

#main {
    padding-top: 30px;
}

#main h4 {
    color: #36DD83 !important;
}

#navigation h5 {
    color: #36DD83 !important;
}

#navigation a {
    color: inherit;
}

i {
    color: #36DD83 !important;
}

.btn {
    color: #36DD83 !important;
    background-color: transparent !important;
    border: 3px solid !important;
    border-color: #36DD83 !important;
}

.btn:hover {
    color: #fff !important;
    background-color: #36DD83 !important;
}

input {
    color: #36DD83 !important;
    outline: none !important;
    width: 100% !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #36DD83 !important;
}